input,
input.form-control{
	background: $light;
	border-color: $light;
	border-radius: 0;
	color: #ccc;
	text-transform: uppercase;
	font-family: $header-font;
	font-size: 12px;
	resize:none;
	outline: none;
	&:focus{
    	border-color: #60606e;
    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(96,96,110,.6);
	}
}

.input-group-btn{
	button{
		padding: 11px 15px;
	}
}

button,
input[type="submit"],
.btn{
	@include btn-hover;

	&.inverst{
		@include btn-hover(true);
	}
}

