@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,800");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
/** Media elements **/
body {
  background: #fff;
  color: #60606e;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 2.15; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 0; }

h3 {
  color: #60606e; }

a {
  text-decoration: none;
  color: #60606e;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }
  a:hover {
    color: #7beec7; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rtdh3c");
  src: url("../fonts/icomoon.eot?rtdh3c#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?rtdh3c") format("truetype"), url("../fonts/icomoon.woff?rtdh3c") format("woff"), url("../fonts/icomoon.svg?rtdh3c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bubble:before {
  content: "\e96b"; }

.icon-search:before {
  content: "\e986"; }

.icon-heart:before {
  content: "\e9da"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-youtube:before {
  content: "\ea9d"; }

.icon-linkedin:before {
  content: "\eac9"; }

.icon-pinterest:before {
  content: "\ead1"; }

.page-title {
  font-size: 36px;
  margin-bottom: 14px; }

.section-title {
  position: relative;
  display: inline-block;
  font-size: 30px;
  margin-bottom: 21px; }
  .section-title:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 68px;
    height: 22px;
    background: #7beec7; }

.section-title-description {
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 21px; }

.section-text {
  line-height: 1.7; }

.article-title {
  font-size: 18px; }

.row-margin {
  margin-bottom: 30px; }

.btn {
  height: 50px;
  background: #7beec7;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #7beec7;
  outline: none;
  border-radius: 0;
  font-weight: 700; }
  .btn:hover {
    color: #7beec7;
    background: #fff;
    border-color: #7beec7; }

input,
input.form-control {
  background: #fefcf9;
  border-color: #fefcf9;
  border-radius: 0;
  color: #ccc;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  resize: none;
  outline: none; }
  input:focus,
  input.form-control:focus {
    border-color: #60606e;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(96, 96, 110, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(96, 96, 110, 0.6); }

.input-group-btn button {
  padding: 11px 15px; }

button,
input[type="submit"],
.btn {
  background: #7beec7;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 19px 40px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #7beec7;
  border-radius: 0;
  -webkit-transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, -webkit-box-shadow;
  -o-transition-property: color, background, box-shadow;
  transition-property: color, background, box-shadow;
  transition-property: color, background, box-shadow, -webkit-box-shadow;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }
  button:hover,
  input[type="submit"]:hover,
  .btn:hover {
    color: #7beec7;
    background: #fff; }
  button.inverst,
  input[type="submit"].inverst,
  .btn.inverst {
    background: #fff;
    color: #7beec7;
    font-size: 14px;
    text-transform: uppercase;
    padding: 19px 40px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 0;
    -webkit-transition-property: color, background, -webkit-box-shadow;
    transition-property: color, background, -webkit-box-shadow;
    -o-transition-property: color, background, box-shadow;
    transition-property: color, background, box-shadow;
    transition-property: color, background, box-shadow, -webkit-box-shadow;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    button.inverst:hover,
    input[type="submit"].inverst:hover,
    .btn.inverst:hover {
      color: #fff;
      background: #7beec7; }

.navbar {
  margin-bottom: 0; }
  .navbar .navbar-toggle .icon-bar {
    background: #60606e; }
  .navbar .navbar-toggle:hover {
    background: none; }
  .navbar .navbar-collapse {
    border-color: #60606e; }
    @media (max-width: 767px) {
      .navbar .navbar-collapse {
        background: rgba(255, 255, 255, 0.4); } }
    .navbar .navbar-collapse .navbar-right {
      float: right; }
      @media (max-width: 580px) {
        .navbar .navbar-collapse .navbar-right {
          margin: 0; } }
  .navbar #main-menu li a {
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .navbar #main-menu li a {
        padding: 10px 25px; } }

.footer-menu {
  margin-top: 43px; }
  @media (max-width: 991px) {
    .footer-menu {
      margin-top: 30px; } }
  @media (max-width: 767px) {
    .footer-menu {
      margin-top: 20px; } }
  .footer-menu ul {
    margin: 0;
    padding: 0; }
  .footer-menu li {
    display: inline-block; }
    .footer-menu li:first-child a {
      padding-left: 0; }
    .footer-menu li:last-child a:after {
      content: ''; }
  .footer-menu a {
    padding-left: 17px;
    font-size: 14px;
    color: #9a9a9a;
    text-transform: uppercase;
    text-decoration: none; }
    .footer-menu a:after {
      padding-left: 17px;
      content: "-"; }
    .footer-menu a:hover {
      color: #7beec7; }
      .footer-menu a:hover:after {
        color: #9a9a9a; }
    @media (max-width: 991px) {
      .footer-menu a {
        padding: 10px; } }

.copyright {
  margin: 43px 0 11px 0;
  font-size: 14px;
  color: #9a9a9a;
  text-transform: uppercase; }
  @media (max-width: 991px) {
    .copyright {
      margin-top: 30px; } }
  @media (max-width: 767px) {
    .copyright {
      font-size: 12px;
      margin: 0;
      text-align: left;
      text-transform: capitalize; } }

footer {
  padding-bottom: 50px; }
  @media (max-width: 991px) {
    footer {
      padding-bottom: 15px; } }

.social-icons a {
  padding: 5px;
  color: #999999;
  margin: 0 2px;
  text-decoration: none;
  font-size: 16px; }
  .social-icons a:hover {
    color: #7beec7; }
  .social-icons a:last-child {
    padding-right: 0;
    margin-right: 0; }
  @media (max-width: 991px) {
    .social-icons a {
      padding: 7px 10px;
      font-size: 20px; } }

@media (max-width: 767px) {
  .social-icons {
    text-align: left; } }

.bottom-section {
  background: #7beec7;
  padding: 40px 0; }
  @media (max-width: 767px) {
    .bottom-section {
      padding: 20px 0; } }
  .bottom-section .bottom-section-title {
    padding-top: 0;
    color: #fff;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 20px 0; }
    @media (max-width: 991px) {
      .bottom-section .bottom-section-title {
        font-size: 22px; } }
    @media (max-width: 767px) {
      .bottom-section .bottom-section-title {
        font-size: 18px;
        display: block;
        margin-bottom: 15px; } }
  @media (max-width: 991px) {
    .bottom-section .btn {
      margin-bottom: 15px; } }
  @media (max-width: 580px) {
    .bottom-section .btn {
      width: 100%; } }

.bottom-section-form {
  background: #fff;
  padding: 22px 40px; }
  @media (max-width: 580px) {
    .bottom-section-form {
      padding: 10px; } }
  .bottom-section-form .form-title {
    width: 80%;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 3px; }
    @media (max-width: 991px) {
      .bottom-section-form .form-title {
        width: 100%;
        font-size: 16px; } }
    @media (max-width: 580px) {
      .bottom-section-form .form-title {
        font-size: 14px; } }
  .bottom-section-form .form-text {
    color: #999999;
    line-height: 1.7;
    margin-bottom: 30px;
    color: #999999; }
    @media (max-width: 767px) {
      .bottom-section-form .form-text {
        margin-bottom: 10px;
        font-size: 12px; } }
  .bottom-section-form .form-inline {
    font-size: 0; }
    @media (max-width: 991px) {
      .bottom-section-form .form-inline .btn {
        margin-bottom: 0; } }
  .bottom-section-form input.form-control {
    padding: 16px 15px;
    height: auto;
    width: 100%;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0; }
  .bottom-section-form .form-group {
    width: calc(100% - 125px); }
    @media (max-width: 767px) {
      .bottom-section-form .form-group {
        width: 100%; } }

.homepage-first-section {
  background: #fff url(../images/bg.jpg) center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative; }
  @media (max-width: 580px) {
    .homepage-first-section {
      background: #fff; } }
  .homepage-first-section h2 {
    display: inline-block;
    width: auto;
    padding: 7px 19px;
    background: #7beec7;
    text-transform: uppercase;
    margin: 147px 0 0 0;
    font-size: 18px; }
    @media (max-width: 767px) {
      .homepage-first-section h2 {
        margin-top: 100px; } }
    @media (max-width: 580px) {
      .homepage-first-section h2 {
        margin-top: 60px;
        font-size: 16px; } }
  .homepage-first-section h1 {
    text-transform: uppercase;
    font-size: 48px;
    padding: 16px 37px;
    border: 10px solid #60606e;
    margin: 0;
    white-space: nowrap; }
    @media (max-width: 991px) {
      .homepage-first-section h1 {
        font-size: 36px;
        padding: 16px 37px;
        border: 8px solid #60606e;
        width: 70%;
        margin: auto; } }
    @media (max-width: 767px) {
      .homepage-first-section h1 {
        font-size: 32px;
        border: 6px solid #60606e; } }
    @media (max-width: 580px) {
      .homepage-first-section h1 {
        font-size: 20px;
        width: 100%; } }
  .homepage-first-section .section-text {
    margin-top: 22px;
    line-height: 1.8; }
    .homepage-first-section .section-text:last-child {
      margin-bottom: 120px; }
      @media (max-width: 991px) {
        .homepage-first-section .section-text:last-child {
          margin-bottom: 80px; } }
      @media (max-width: 767px) {
        .homepage-first-section .section-text:last-child {
          margin-bottom: 40px; } }
      @media (max-width: 580px) {
        .homepage-first-section .section-text:last-child {
          margin-bottom: 20px; } }
  .homepage-first-section img {
    position: absolute; }
    @media (max-width: 767px) {
      .homepage-first-section img {
        position: static; } }
  @media (max-width: 580px) {
    .homepage-first-section .none {
      display: none; } }
  @media (max-width: 580px) {
    .homepage-first-section .col-xs-6 {
      width: 100%; } }

.home-post .section-title {
  z-index: 1;
  padding-top: 27px;
  margin-bottom: 17px; }
  .home-post .section-title:after {
    content: "";
    top: 72%; }
  @media (max-width: 767px) {
    .home-post .section-title {
      padding-top: 0; } }
  @media (max-width: 580px) {
    .home-post .section-title {
      font-size: 22px; } }

.home-post p {
  line-height: 2.15;
  margin-top: 0; }
  .home-post p:last-of-type {
    margin-bottom: 30px; }
  @media (max-width: 580px) {
    .home-post p {
      line-height: 1.7; } }

.home-post .btn {
  -webkit-transform: translateY(36%);
      -ms-transform: translateY(36%);
          transform: translateY(36%);
  padding: 19px 37px; }

.choose-us {
  padding: 200px 0 100px; }
  @media (max-width: 991px) {
    .choose-us {
      padding: 70px 0; } }
  @media (max-width: 580px) {
    .choose-us {
      padding: 50px 0 20px; } }
  .choose-us .section-title {
    margin-bottom: 17px; }
    @media (max-width: 580px) {
      .choose-us .section-title {
        font-size: 22px; } }
  .choose-us .section-text {
    margin: 0 0 96px;
    line-height: 1.8; }
    @media (max-width: 991px) {
      .choose-us .section-text {
        margin-bottom: 40px; } }
    @media (max-width: 767px) {
      .choose-us .section-text {
        margin-bottom: 15px; } }
  @media (max-width: 580px) {
    .choose-us .col-xs-6 {
      width: 100%; } }
  .choose-us .choose-post {
    margin-bottom: 31px; }
    @media (max-width: 991px) {
      .choose-us .choose-post {
        padding-left: 30px; } }
    @media (max-width: 767px) {
      .choose-us .choose-post {
        text-align: center;
        padding-left: 0;
        margin-bottom: 15px; } }
    .choose-us .choose-post .choose-icon {
      line-height: 65px;
      height: 65px; }
      @media (max-width: 580px) {
        .choose-us .choose-post .choose-icon {
          line-height: 40px;
          height: 40px; } }
    .choose-us .choose-post img {
      display: inline-block; }
    .choose-us .choose-post.padding-left {
      padding-left: 28px; }
      @media (max-width: 1199px) {
        .choose-us .choose-post.padding-left {
          padding-left: 0; } }
    .choose-us .choose-post p {
      text-transform: uppercase;
      margin: 0; }
    .choose-us .choose-post .article-title {
      margin-bottom: 17px; }
      @media (max-width: 1199px) {
        .choose-us .choose-post .article-title {
          font-size: 16px; } }
  @media (max-width: 991px) {
    .choose-us img {
      margin: auto; } }
  @media (max-width: 767px) {
    .choose-us img {
      display: none; } }

.portfolio .section-title {
  margin-bottom: 17px; }
  @media (max-width: 580px) {
    .portfolio .section-title {
      font-size: 22px; } }

.portfolio .section-text {
  margin-bottom: 100px; }
  @media (max-width: 991px) {
    .portfolio .section-text {
      margin-bottom: 40px; } }

.portfolio .categories {
  font-size: 30px;
  line-height: 1.7;
  margin: -15px 0 32px 0; }
  @media (max-width: 991px) {
    .portfolio .categories {
      font-size: 22px;
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .portfolio .categories {
      font-size: 18px;
      margin-bottom: 10px; } }

.portfolio .btn {
  display: block;
  padding: 5px 19px;
  height: auto;
  background: transparent;
  border: none;
  color: #60606e;
  margin-bottom: 17px; }
  .portfolio .btn:hover, .portfolio .btn:active, .portfolio .btn:focus, .portfolio .btn.is-checked {
    color: #fff;
    background: #7beec7;
    opacity: 1;
    outline: none; }
  @media (max-width: 991px) {
    .portfolio .btn {
      display: inline-block;
      padding: 5px 15px; } }
  @media (max-width: 767px) {
    .portfolio .btn {
      font-size: 12px;
      padding: 5px 8px; } }

.portfolio .grid {
  margin-bottom: 100px; }
  @media (max-width: 991px) {
    .portfolio .grid {
      margin-bottom: 50px; } }
  @media (max-width: 767px) {
    .portfolio .grid {
      margin-bottom: 0; } }

.portfolio .grid-item {
  margin-bottom: 30px; }
  @media (max-width: 580px) {
    .portfolio .grid-item {
      margin-bottom: 10px; } }

.portfolio .grid-item,
.portfolio .grid-item-size {
  width: 260px; }

.first-section {
  background: #bebebf url(../images/Layer4.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  margin-bottom: 150px; }
  @media (max-width: 991px) {
    .first-section {
      margin-bottom: 70px; } }
  @media (max-width: 580px) {
    .first-section {
      margin-bottom: 40px;
      background: #cdcdcd; } }
  .first-section .first-slide-text {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
  @media (max-width: 767px) {
    .first-section .page-title {
      font-size: 30px; } }
  @media (max-width: 580px) {
    .first-section .page-title {
      font-size: 24px; } }

.services {
  position: relative; }
  @media (max-width: 580px) {
    .services {
      line-height: 1.7; } }
  .services .section-title {
    margin-bottom: 18px; }
    @media (max-width: 767px) {
      .services .section-title {
        font-size: 28px; } }
    @media (max-width: 580px) {
      .services .section-title {
        font-size: 22px; } }
  .services .section-text {
    margin-bottom: 89px; }
    @media (max-width: 991px) {
      .services .section-text {
        margin-bottom: 40px; } }
    @media (max-width: 580px) {
      .services .section-text {
        margin-bottom: 20px; } }
  .services p {
    margin-bottom: 32px; }
    @media (max-width: 580px) {
      .services p {
        text-align: center;
        margin-bottom: 15px; } }
  .services ul {
    padding-left: 0;
    list-style: none; }
    @media (max-width: 991px) {
      .services ul {
        margin-bottom: 30px; } }
    @media (max-width: 580px) {
      .services ul {
        margin-bottom: 10px; } }
  .services .glyphicon-ok {
    color: #fff;
    font-size: 10px;
    background: #7beec7;
    font-weight: 100;
    padding: 2px;
    margin-right: 3px; }
  .services .custom-sm {
    margin-bottom: 164px; }
    @media (max-width: 991px) {
      .services .custom-sm {
        margin-bottom: 0;
        position: absolute;
        width: 65%;
        top: 28%;
        right: 0; } }
    @media (max-width: 767px) {
      .services .custom-sm {
        position: static;
        width: 100%;
        margin-bottom: 30px; } }
    @media (max-width: 580px) {
      .services .custom-sm {
        margin-bottom: 0; } }
    @media (max-width: 767px) {
      .services .custom-sm img {
        margin: auto; } }
    @media (max-width: 580px) {
      .services .custom-sm img {
        display: none; } }
  @media (max-width: 580px) {
    .services .col-xs-6 {
      width: 100%; } }
  .services .services-posts {
    margin-bottom: 110px; }
    @media (max-width: 991px) {
      .services .services-posts {
        margin-bottom: 60px; } }
    @media (max-width: 767px) {
      .services .services-posts {
        margin-bottom: 30px; } }
    .services .services-posts .section-title:after {
      content: "";
      position: absolute;
      top: 57%;
      left: 0;
      z-index: -1;
      width: 50px;
      height: 20px;
      background: #7beec7; }
    .services .services-posts .service-icon {
      margin-bottom: 0;
      padding: 0 15px; }
    .services .services-posts .pulse {
      padding-top: 5px; }
    .services .services-posts .limits {
      padding: 16px 15px 14px 15px; }
    .services .services-posts .support {
      padding: 7px 15px 6px 15px; }
    .services .services-posts .article-title {
      margin-bottom: 9px; }

.services ul,
.plans ul {
  padding-left: 0;
  list-style: none; }

.services .glyphicon-ok,
.plans .glyphicon-ok {
  color: #fff;
  font-size: 10px;
  background: #7beec7;
  font-weight: 100;
  padding: 2px;
  margin-right: 3px; }

.plans {
  margin-bottom: 150px; }
  @media (max-width: 991px) {
    .plans {
      margin-bottom: 50px; } }
  @media (max-width: 580px) {
    .plans {
      margin-bottom: 0; } }
  .plans .section-title {
    margin-bottom: 17px; }
    @media (max-width: 767px) {
      .plans .section-title {
        font-size: 28px; } }
    @media (max-width: 580px) {
      .plans .section-title {
        font-size: 22px; } }
  .plans .section-text {
    margin-bottom: 100px; }
    @media (max-width: 991px) {
      .plans .section-text {
        margin-bottom: 40px; } }
  .plans ul {
    line-height: 2.5;
    margin-bottom: 45px; }
    @media (max-width: 991px) {
      .plans ul {
        margin-bottom: 20px; } }

.plan-card {
  padding: 31px 0 0 28px;
  position: relative;
  -webkit-transition: -webkit-box-shadow 1s ease;
  transition: -webkit-box-shadow 1s ease;
  -o-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
  transition: box-shadow 1s ease, -webkit-box-shadow 1s ease; }
  .plan-card:before {
    content: "";
    position: absolute;
    background: #7beec7;
    height: 5px;
    top: 0;
    left: 0;
    right: 0; }
  .plan-card:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border: 8px solid transparent;
    border-top: 8px solid #7beec7;
    border-right: 8px solid #7beec7; }
  .plan-card:hover {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25); }
  @media (max-width: 991px) {
    .plan-card {
      margin-bottom: 40px;
      -webkit-box-shadow: 0 0 10px 0 rgba(123, 238, 199, 0.4);
              box-shadow: 0 0 10px 0 rgba(123, 238, 199, 0.4); } }
  @media (max-width: 767px) {
    .plan-card {
      width: 70%;
      margin: 0 auto 40px; } }
  @media (max-width: 580px) {
    .plan-card {
      line-height: 1.7;
      width: 100%; } }
  .plan-card .section-title {
    display: block;
    margin-bottom: 12px; }
    .plan-card .section-title:after {
      content: "";
      background: none; }
    @media (max-width: 767px) {
      .plan-card .section-title {
        font-size: 24px; } }
  .plan-card .price {
    display: inline-block;
    margin-bottom: 40px;
    padding: 0 20px;
    color: #fff;
    background: #7beec7;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
    @media (max-width: 991px) {
      .plan-card .price {
        margin-bottom: 20px; } }
  .plan-card .btn {
    width: 135px;
    padding: 0;
    margin-bottom: 40px; }
